<header>
    <div class="header-flex">
        <div class="flex-item-1">
            <h1>Lista giochi</h1>
        </div>
        <div class="flex-item-2">
            <a routerLink="/gameList" routerLinkActive="active">Lista giochi</a>
            <a routerLink="/home" routerLinkActive="active">Home</a>
            <a routerLink="/gameDetail" routerLinkActive="active">Dettagli giochi</a>
            <a routerLink="/editGame" routerLinkActive="active">Modifica liste</a>
        </div>
    </div>


</header>